block content
  h1= title
  div(class="nav-wrapper")
      a(class='register', href="/api/user/register" id = "signup", name = "sign") Sign-up
      a(class='userlogin',href="/api/user/login", id = "login", name = "user_login") Login
      ul(id="nav-mobile" class="right hide-on-med-and-down")
        li 
          a(href="sass.html") SAAS
