link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
meta(name="viewport" content="width=device-width, initial-scale=1")
div(class="container-fluid" id = "nav-wrapper")
  
    div(class = "row")
        h1 Post Title: 
        
            pr #{post.postname}
    div(class = "col-xs-12 col-md-8")        
        div(class = "row-xs-12")
            h2 Post text:
            
            h2 #{post.code}
            p    
        div(class = "row-xs-20")
            p
        div(class = "row-xs-20")
            div(name= "comments", id = "comments")
                h2 Comments:
                script(id = "helper" data = post.comment_ids src="/javascripts/comment_fetch.js")

