link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
div(class="nav-wrapper")
    div(nav)
        h1 Post Title: #{post.postname}
        

        pr Post text:

        h2 #{post.code}

        div(name= "comments", id = "comments")
            


